.home-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    padding: 4px;
    background-color: #dc0a2d;
  }
  
  .pokeball-logo {
    filter: invert(1);
    width: 25px;
    height: 25px;
  }
  
  .home-wrapper h1 {
    color: #ffffff;
    font-size: 24px;
  }
  
  .home-wrapper header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
  }
 
  
  .flex {
    display: flex;
    gap: 15px;
    padding: 0 15px;
    
  }

  .modal-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #00000030;
  }

  .main-pokecard{
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
    padding: 24px 12px 0 12px;
    flex: 1 1;
    margin: 20px 4px 5px 4px;
    border-radius: 5px;
    gap: 8px;
    overflow-y: auto;
}

.main-pokecard-wrapper{
    display: flex; 
    flex-wrap: wrap; 
    gap: 8px;
    margin-top: 12px;
}

.flex-center{
  justify-content: center;
}

.flex-start{
  justify-content: flex-start;
  margin: 7% 3% 0 3%; 
}

