.pokecard-container{
    width: 104px;
    height: 108px;
    border-radius: 8px;
    background: linear-gradient(to bottom, #FFFFFF 65%, #EFEFEF 35%);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    font-size: 8px;
    font-weight: 400;
}

.pokecard-container img{
  display: flex;
    justify-self: center;
    margin: 3% auto 0 auto;
  width: 72px;
  height: 72px;

}

.pokecard-container p{
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.pokecard-container p:first-of-type{
  font-size: 8px;
  text-align: right;
  padding: 4px 8px 0px;
}

.pokecard-container p:last-of-type{
  text-align: center;
  margin: -4px 8px 2px;
}